@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

@import url('https://fonts.cdnfonts.com/css/ocr-a-std');

:root {
  --keyboard-height: 360px;
}



/* 기본적인 브라우저 초기화 */


/* 모바일 디바이스에서의 버튼, 인풋 스타일 초기화 */


/* HTML, Body 설정 */
html {
  /* overflow-x: hidden; */
  /* 수평 스크롤 방지 */
  height: 100%;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: pink;
}

@media (max-width: 768px) {
  html.keyboard-active {
    /* 키보드가 올라올 때 스타일 적용 */
    background-color: blue;
    height: calc(100% - var(--keyboard-height));
  }
}

body {
  font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  /* 줄간격*/
  margin: 0;
  font-family: 'Pretendard Variable', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  letter-spacing: -0.28px;
  font-size: 14px;
  font-weight: 400;
}

button {
  color: inherit;
  /* 버튼의 텍스트 색상을 부모 요소의 색상으로 */
  text-decoration: none;
  /* 텍스트 밑줄 제거 */
  -webkit-appearance: none;
  /* 기본 iOS 스타일 제거 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (max-width: 768px) {
    font-size: 12px;
  }

  /* 스크롤바 전체 크기 조절 */
  ::-webkit-scrollbar {
    width: 10px;
    /* 세로 스크롤바의 너비 */
    height: 10px;
    /* 가로 스크롤바의 높이 */
  }

  /* 스크롤바 트랙 스타일 */
  ::-webkit-scrollbar-track {
    background-color: transparent;
    /* 트랙 배경 색상 */
  }

  /* 스크롤바 드래그 가능한 부분 스타일 */
  ::-webkit-scrollbar-thumb {
    background-color: #000;
    /* 스크롤바 색상 */
    /*border-radius: 10px;  둥근 모서리 */
    border: 2px solid transparent;
  }

  /* 스크롤바 호버 시 스타일 */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #eee;
    /* 호버 시 색상 */
  }

  /* 스크롤바 모서리 부분 스타일 */
  ::-webkit-scrollbar-corner {
    background-color: transparent;
    /* 모서리 색상 */
  }

  ::-webkit-scrollbar-button {
    display: none;
    /* 화살표 버튼 숨기기 */
  }
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* 페이지가 들어올 때 */
/* 페이지가 들어올 때 */
/* .page-enter {
  clip-path: circle(0% at 50% 100%);
  transform: translateY(100%);
  background-color: white;
  기본 배경색 (다음 페이지의 배경색으로 변경 가능)
} */

/* .page-enter-active {
  clip-path: circle(150% at 50% 100%);
  transform: translateY(0);
  transition: transform 1s ease-in-out, clip-path 1s ease-in-out;
} */

/* 페이지가 나갈 때 */
/* .page-exit {
  clip-path: circle(150% at 50% 100%);
  transform: translateY(0);
}

.page-exit-active {
  clip-path: circle(0% at 50% 100%);
  transform: translateY(100%);
  transition: transform 1s ease-in-out, clip-path 1s ease-in-out;
} */